* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(130deg, purple, dodgerblue);
}

/* #image section */
#image {
    height: 100vh;
    background-image: url(./img/code-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;    
}

/* # Container */

.container {
    max-width: 1080px;
    margin: 0 auto;
    position:fixed; 
    top: 0;
    left: calc(100vw - 1080px);
    translate: calc((100vw - 1080px) / 2 * -1);
}

/* # Utilites */

.d-flex {
    display: flex;
}

#content {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

/* text-section */

#text h1, #text h2 {
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}