* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(130deg, purple, dodgerblue);
}

/* # Container */

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* # Utilites */

.d-flex {
    display: flex;
}

#content {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

#content > div {
    border: 10px solid white;
}

/* text-section */

